<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<head>
    <title th:text="#{authors.title}"></title>
   </head>
<body>


<div layout:fragment="continut">
    <div class="container">
    <h2>Authors in databse</h2>
    <table class="table table-striped">
        <tr>
            <th>Nume</th>
            <th>Email</th>
            <th>Birth date</th>
            <th></th>
        </tr>
        <tr th:each="author: ${authors}">
            <td th:text="${author.name}">fd</td>
            <td th:text="${author.email}"></td>
            <td th:text="${#temporals.format(author.birthDate, 'dd/MM/yyyy')}"></td>
            <td><form th:action="@{/authors/delete}" method="post">
                <input type="hidden" name="id" th:value="${author.id}" />
                <input type="submit" class="btn btn-danger" value="Delete">
            </form></td>
        </tr>
    </table>
    <a th:href="@{/authors/add}">Add author</a>
    </div>
</div>
</body>
</html>